/* flex */

.parent {
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(179, 154, 151);
    height: 400px;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
}

.child {
    width: 100px;
    height: 100px;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.color1 {
    background-color: aliceblue;
}

.color2 {
    background-color: aquamarine;
}

.color3 {
    background-color: bisque;
}

.color4 {
    background-color: blueviolet;
}

.flex {
    margin: 100px;
    display: flex;
    height: 300px;
    width: 300px;
    background-color: rosybrown;
    justify-content: center;
    align-items: end;
}

.flex-child {
    height: 50px;
    width: 50px;
    background-color: blue;
}