.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    max-width: 800px;
    background-color: azure;
    padding: 30px 50px;
    border-radius: 20px;
}

.flex {
    display: flex;
}

label {
    display: block;
    /* font-size: 14px; */
}

.form-group {
    margin: 10px 10px 10px 10px;
}

.button {
    background-color: aquamarine;
    outline: 0;
    border: 0;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

input,
select {
    background-color: none;
    border: 0;
    outline: 0;
    padding: 20px 30px;
    font-size: 12px;
    border-radius: 100px;
}